    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <ul class="dropdown-content">
            <li onclick="window.location.href = '../classes/classes.php'">Classes</li>
            <li onclick="window.location.href = '../rewards/rewards.php'">Rewards</li>
            <li onclick="window.location.href = '../consequences/consequences.php'">Consequences</li>
        </ul>
    </div>

    <!-- Spacer -->
    <div class="spacer"></div>

    <!-- Profile Picture Button -->
    <div class="dropdown">
        <button class="profilebtn">
            <img src="../../../presets/profile_picture.png" class="profile-pic" alt="Profile">
        </button>
        <ul class="dropdown-content-user">
            <li onclick="window.location.href = '../dashboard/admin_dashboard.php'">Dashboard</li>
            <li onclick="window.location.href = '../../login/login.php'">Log Out</li>
        </ul>
    </div>