.date-label {
    font-size: 1.2em; /* Example size, adjust as needed */
    font-weight: bold; /* Makes the date label bold */
    margin-bottom: 10px; /* Space below the date label */
    color: #333; /* Color for the date label, adjust as needed */
}

.schedule-graph {
    margin-left: 60px;
    margin-top: 20px;
    position: relative;
    width: 25%; /* 1/3 of the parent container's width */
    height: 540px; /* 9 hours * 60px per hour */
    /* Center the schedule graph */
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.time-labels {
    position: absolute;
    top: 0;
    left: -60px; /* Adjust as necessary for your design */
    width: 50px;
}

.time-label {
    position: absolute;
    width: 100%;
    text-align: right;
}

.hour {
    display: inline-block;
    transform: translateY(-50%);
    margin-right: 10px; /* Space between the hour and the tick */
}

.hour-tick {
    display: inline-block;
    height: 2px;
    width: 10px;
    background-color: #333; /* Color of the tick mark */
}

.classes-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.class-block {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #396;
    box-sizing: border-box;
    padding: 5px;
}

.current-time-marker {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    z-index: 2;
}

.class-name {
    font-weight: bold;
}

.class-time {
    font-size: 0.8em;
}

.class-room {
    font-weight: bold;
}
